<div class="cart-dropdown mt-4">
    <ul>
        <li class="pr-0 pl-0 pb-3">
            <div class="media">
                <img class="img-fluid b-r-5 me-3 img-60" src="assets/images/other-images/cart-img.jpg" alt="">
                <div class="media-body">
                    <a class="f-light f-w-500" href="javascript:void(0)">Furniture Chair for Home</a>
                    <div class="qty-box">
                        <div class="input-group">
                            <span class="input-group-prepend">
                                <button class="btn quantity-left-minus" type="button" data-type="minus" data-field="">-</button>
                            </span>
                            <input class="form-control input-number" type="text" name="quantity" value="1">
                            <span class="input-group-prepend">
                                <button class="btn quantity-right-plus" type="button" data-type="plus" data-field="">+</button>
                            </span>
                        </div>
                      </div>
                    <h6 class="font-primary">$500</h6>
                </div>
              <div class="close-circle"><a class="bg-danger" href="javascript:void(0)"><i data-feather="x"></i></a></div>
            </div>
        </li>
        <li class="pr-0 pl-0 pb-3 pt-3">
            <div class="media">
                <img class="img-fluid b-r-5 me-3 img-60" src="assets/images/other-images/receiver-img.jpg" alt="">
                <div class="media-body">
                    <a class="f-light f-w-500" href="javascript:void(0)">Men Cotton Blend Blue T-Shirt</a>
                    <div class="qty-box">
                        <div class="input-group"> 
                            <span class="input-group-prepend">
                                <button class="btn quantity-left-minus" type="button" data-type="minus"data-field="">-</button>
                            </span>
                            <input class="form-control input-number" type="text" name="quantity" value="1">
                            <span class="input-group-prepend">
                                <button class="btn quantity-right-plus" type="button" data-type="plus" data-field="">+</button>
                            </span>
                        </div>
                    </div>
                    <h6 class="font-primary">$695.00</h6>
                </div>
                <div class="close-circle"><a class="bg-danger" href="javascript:void(0)"><i data-feather="x"></i></a></div>
            </div>
        </li>
        <li class="mb-3 total">
            <a href="javascript:void(0)">
                <h6 class="mb-0"> Order Total :<span class="f-right">$1195.00 </span></h6>
            </a>
        </li>
    </ul>
</div>