<div class="user-message">
  <div class="cart-dropdown notification-all">
    <ul>
      <li class="pr-0 pl-0 pb-3 pt-3">
        <div class="media">
          <img class="img-fluid b-r-5 me-3 img-60" src="assets/images/other-images/receiver-img.jpg" alt="">
          <div class="media-body">
            <a class="f-light f-w-500" href="javascript:void(0)">Men Blue T-Shirt</a>
            <div class="qty-box">
              <div class="input-group"> <span class="input-group-prepend">
                  <button class="btn quantity-left-minus" type="button" data-type="minus" data-field="">-
                  </button></span>
                <input class="form-control input-number" type="text" name="quantity" value="1"><span
                  class="input-group-prepend">
                  <button class="btn quantity-right-plus" type="button" data-type="plus" data-field="">+</button></span>
              </div>
            </div>
            <h6 class="font-primary">$695.00</h6>
          </div>
          <div class="close-circle">
            <a class="bg-danger" href="javascript:void(0)">
              <app-feathericon [icon]="'x'"></app-feathericon>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <ul>
    <li>
      <div class="user-alerts"><img class="user-image rounded-circle img-fluid me-2"
          src="assets/images/dashboard/user/5.jpg" alt="user" />
        <div class="user-name">
          <div>
            <h6><a class="f-w-500 f-14" href="javascript:void(0)">Floyd Miles</a></h6><span
              class="f-light f-w-500 f-12">Sir, Can i remove part in des...</span>
          </div>
          <div>
            <svg>
              <use href="assets/svg/icon-sprite.svg#more-vertical"></use>
            </svg>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="user-alerts"><img class="user-image rounded-circle img-fluid me-2"
          src="assets/images/dashboard/user/6.jpg" alt="user" />
        <div class="user-name">
          <div>
            <h6><a class="f-w-500 f-14" href="javascript:void(0)">Dianne Russell</a></h6><span
              class="f-light f-w-500 f-12">So, what is my next work ?</span>
          </div>
          <div>
            <svg>
              <use href="assets/svg/icon-sprite.svg#more-vertical"></use>
            </svg>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>