<div class="notification-card">
    <ul>
        <li class="notification d-flex w-100 justify-content-between align-items-center">
            <div class="d-flex w-100 notification-data justify-content-center align-items-center gap-2">
                <div class="user-alerts flex-shrink-0">
                    <img class="rounded-circle img-fluid img-40" src="assets/images/dashboard/user/3.jpg" alt="user" />
                </div>
                <div class="flex-grow-1">
                    <div class="common-space user-id w-100">
                        <div class="common-space w-100">
                            <a class="f-w-500 f-12" href="javascript:void(0)">Robert D. Hambly</a>
                        </div>
                    </div>
                    <div><span class="f-w-500 f-light f-12">Hello Miss...😊</span></div>
                </div><span class="f-light f-w-500 f-12">44 sec</span>
            </div>
        </li>
        <li class="notification d-flex w-100 justify-content-between align-items-center">
            <div class="d-flex w-100 notification-data justify-content-center align-items-center gap-2">
                <div class="user-alerts flex-shrink-0">
                    <img class="rounded-circle img-fluid img-40" src="assets/images/dashboard/user/7.jpg" alt="user" />
                </div>
                <div class="flex-grow-1">
                    <div class="common-space user-id w-100">
                        <div class="common-space w-100">
                            <a class="f-w-500 f-12" href="javascript:void(0)">Courtney C. Strang</a>
                        </div>
                    </div>
                    <div><span class="f-w-500 f-light f-12">Wishing You a Happy Birthday Dear.. 🥳🎊</span></div>
                </div><span class="f-light f-w-500 f-12">52 min</span>
            </div>
        </li>
        <li class="notification d-flex w-100 justify-content-between align-items-center">
            <div class="d-flex w-100 notification-data justify-content-center align-items-center gap-2">
                <div class="user-alerts flex-shrink-0">
                    <img class="rounded-circle img-fluid img-40" src="assets/images/dashboard/user/5.jpg" alt="user" />
                </div>
                <div class="flex-grow-1">
                    <div class="common-space user-id w-100">
                        <div class="common-space w-100">
                            <a class="f-w-500 f-12" href="javascript:void(0)">Raye T. Sipes</a>
                        </div>
                    </div>
                    <div><span class="f-w-500 f-light f-12">Hello Dear!! This Theme Is Very beautiful</span></div>
                </div><span class="f-light f-w-500 f-12">48 min</span>
            </div>
        </li>
        <li class="notification d-flex w-100 justify-content-between align-items-center">
            <div class="d-flex w-100 notification-data justify-content-center align-items-center gap-2">
                <div class="user-alerts flex-shrink-0">
                    <img class="rounded-circle img-fluid img-40" src="assets/images/dashboard/user/6.jpg" alt="user" />
                </div>
                <div class="flex-grow-1">
                    <div class="common-space user-id w-100">
                        <div class="common-space w-100">
                            <a class="f-w-500 f-12" href="javascript:void(0)">Henry S. Miller</a>
                        </div>
                    </div>
                    <div><span class="f-w-500 f-light f-12">You’re older today than yesterday, happy birthday!</span>
                    </div>
                </div><span class="f-light f-w-500 f-12">3 min</span>
            </div>
        </li>
    </ul>
</div>