<li class="profile-nav onhover-dropdown" (click)="open()">
  <div class="media profile-media"><img class="b-r-10" src="assets/images/dashboard/profile.png" alt="">
    <div class="media-body d-xxl-block d-none box-col-none">
      <div class="d-flex align-items-center gap-2"> <span>Tod </span><i class="middle fa fa-angle-down"> </i>
      </div>
      <p class="mb-0 font-roboto">Admin</p>
    </div>
  </div>
  <ul class="profile-dropdown onhover-show-div" [ngClass]="{'active' : show == true}" >
    <li>
      <a href="javascript:void(0)">
        <app-feathericon [icon]="'user'"></app-feathericon>
        <span>Mon profil</span></a>
    </li>
    <li><a href="javascript:void(0)">
        <app-feathericon [icon]="'mail'"></app-feathericon><span>Boite de réception</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <app-feathericon [icon]="'settings'"></app-feathericon>
        <span>Paramètres</span>
      </a>
    </li>
    <li><a class="btn btn-pill btn-outline-primary btn-sm" (click)="logOut()">Déconnexion</a></li>
  </ul>
</li>