<div class="container-fluid p-0">
  <div class="row m-0">
    <div class="col-12 p-0">
      <div class="login-card login-dark">
        <div>
          <div>
            <a class="logo" [routerLink]="['/pages/sample-page1']">
              <img class="img-fluid for-dark" src="assets/images/logo/logo.png" alt="looginpage">
              <img class="img-fluid for-light" src="assets/images/logo/logo_dark.png" alt="looginpage">
            </a>
          </div>
          <div class="login-main">
            <form class="theme-form" [formGroup]="form">
              <h3>Mot de passe oublié</h3>
              <p>Entrez votre email pour recevoir le lien de réinitialisation</p>
              <div class="form-group">
                <label class="col-form-label">Email</label>
                <input class="form-control" type="email" required="" placeholder="app@yourmail.com" formControlName="email">
                @if(form.controls['email'].touched && form.controls['email'].errors?.['required']){
                <div class="text text-danger mt-1"> Email est requis</div>
                }
                @if(form.controls['email'].touched && form.controls['email'].errors?.['email']){
                <div class="text text-danger mt-1">Email invalide</div>
                }
              </div>
              <div class="form-group mb-0">
                <div class="text-end mt-3">
                  <button class="btn btn-primary btn-block w-100" [disabled]="!form.valid" (click)="sendReset()" type="button">Envoyer le lien</button>
                </div>
              </div>
              <p class="mt-4 mb-0 text-center">
                <a class="ms-2" [routerLink]="['/auth/login']">Retour à la connexion</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
