<div class="container-fluid p-0">
  <div class="row m-0">
    <div class="col-12 p-0">
      <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h5 class="mb-0">Liste des déclarations d'importation</h5>
          <button type="button" class="btn btn-primary btn-block" [routerLink]="['/pages/importation/declaration-importation/add-di']"><i class="icofont icofont-plus me-2"></i>Nouvelle DI</button>
        </div>
        <div class="card-body">
          <app-di-list></app-di-list>
        </div>
      </div>
    </div>
  </div>
</div>
