<div class="header-wrapper row m-0">
    <div class="header-logo-wrapper col-auto p-0">
        <div class="logo-wrapper">
            <a [routerLink]="['/pages/sample-page1']">
                <img class="img-fluid for-light" src="assets/images/logo/logo_dark.png" alt="logo-light">
                <img class="img-fluid for-dark" src="assets/images/logo/logo.png" alt="logo-dark">
            </a>
        </div>
        <div class="toggle-sidebar" (click)="openMenu()">
            <i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i>
        </div>
    </div>
    <div class="left-header col-xxl-5 col-xl-6 col-lg-5 col-md-4 col-sm-3 p-0">
        <div>
            <a class="toggle-sidebar" href="javascript:void(0)">
                <i class="iconly-Category icli"> </i>
            </a>
            <div class="d-flex align-items-center gap-2 ">
                <h4 class="f-w-600">Bienvenue Tod</h4>
                <img class="mt-0" src="assets/images/hand.gif" alt="hand-gif">
            </div>
        </div>
        <div class="welcome-content d-xl-block d-none">
            <span class="text-truncate col-12"> Bienvenue sur le portail du SEG v2 </span>
        </div>
    </div>
    <div class="nav-right col-xxl-7 col-xl-6 col-md-7 col-8 pull-right right-header p-0 ms-auto">
        <ul class="nav-menus" (clickOutside)="clickOutside()">
            <li class="d-md-none d-block search-menu-bar">
                <div class="form search-form mb-0">
                    <div class="input-group">
                        <span class="input-show">
                            <svg id="searchIcon" (click)="openSearch()">
                                <use href="assets/svg/icon-sprite.svg#search-header"></use>
                            </svg>
                            <div id="searchInput" [class.show]="open">
                                <input type="search" placeholder="Search" [(ngModel)]="text"
                                    [ngModelOptions]="{ standalone: true }" (keyup)="searchTerm(text)" type="text"
                                    placeholder="Search here..." name="q" title="" autocomplete="off">
                            </div>
                        </span>
                    </div>
                </div>
            </li>
            <li class="d-md-block d-none">
                <app-search></app-search>
            </li>
            <!-- <li class="language-nav" (click)="languageToggle()">
                <app-language></app-language>
            </li>
            <li class="onhover-dropdown">
                <app-bookmark></app-bookmark>
            </li> 
            <li>
                <app-theme></app-theme>
            </li>-->
            <li class="onhover-dropdown notification-down">
                <app-notification></app-notification>
            </li>
            <li class="profile-nav onhover-dropdown">
                <app-profile></app-profile>
            </li>
            @if(menuItems.length){
            <div class="Typeahead-menu custom-scrollbar" [class.is-open]="searchResult" id="search-outer"
                [class.open]="open">
                @for(menuItem of menuItems | slice : 0 : 8; track menuItem){
                <div class="ProfileCard u-cf">
                    <div class="ProfileCard-details">
                        <div class="ProfileCard-realName">
                            <a [routerLink]="menuItem.path" class="realname" (click)="removeFix()">{{ menuItem.title }}
                            </a>
                            <div class="ProfileCard-avatar">
                                <app-svg-icon [icon]="menuItem.icon"></app-svg-icon>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
            }
            <div class="Typeahead-menu is-open" [class.is-open]="searchResultEmpty">
                <div class="tt-dataset tt-dataset-0">
                    <div class="EmptyMessage">Opps!! There are no result found.</div>
                </div>
            </div>
        </ul>
    </div>
</div>